html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}
